*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background-image: url('images/riho-kroll-m4sGYaHYN5o-unsplash.jpg');
  background-size: 100vh 100vw;
}
header{
  background-color: rgb(5, 5, 93);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 1.2em;
}
.starting-game{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  height: 50vh;
}
.starting-game h1{
  font-size: 4em;
  padding: 10px;
  color: rgb(5, 5, 93);
}
.starting-game h2{
  font-size: 2em;
  padding: 10px;
  color: rgb(5, 5, 93);
}
#startgame{
  padding: 10px;
  width: 15vw;
  height: 10vh;
  background-color: rgb(5, 5, 93);
  border: none;
  color: white;
  font-size: 1.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 20px;
}
#game div {
  border: 2px solid rgb(165, 26, 26);
  width: 15%;
  height: 15%;
  margin: 10px;
  display: inline-block;
  border-radius: 20px;
} 
#game{
  width: 50%;
  height: 80vh;
  border: 7px double rgb(122, 3, 3);
  border-radius: 40px;
  background-color: rgb(191, 225, 168);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin:2% auto;
}
.heading{
  font-size: 25px;
  
}
.whole-container{
  display: none;
  
}
#final-result{
  margin-top: 10%;
  color: green;
}
#replay-button{
  /* display: none; */
  top: 55%;
  left: 45%;
  position: absolute;
  width:10vw;
  height: 6vh;
  background-color: blue;
  color: white;
  border-radius: 20px;
  border: 2px solid brown;
}
a{
  text-decoration: none;
}
.result-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top:-3.5%;
  text-align: center;
}
.heading{
  color: rgb(210, 79, 56);
}
.winning-message{
  font-size: 2.5em;
  text-align: center;
}
.winning-moves{
  font-size: 1.25em;
  text-align: center;
  padding: 10px;
}
#final-results{
  display: none;
  margin: 15% auto;
  color: rgb(5, 5, 93);
}
@media(max-width: 500px) {
  body{
    padding: 0;
    margin: 0;
    text-align: center;

  }
  .whole-container{
    margin: 0;
    padding: 0;
  }
  .heading-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #game{
    width: 60%;
    height: 70vh;
  }
  #game div{
    width:16%;
    height:10%;
  }
  #replay-button{
    width: 40%;
    left:35%;
  }

}
@media screen and (min-device-width: 600px) and (max-device-width: 1000px) {
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #game div {
  width: 20%;
  height: 8%;
  border: 3px solid rgb(122, 3, 3);
  border-radius: 40px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    }

    #game {
      width: 40%;
      height: 70vh;
    }
  
    .result-container {
      flex-direction: column;
      padding: 10px;
      margin: 0;
    }
  
    #replay {
      width: 30vw;
    }
    .result-container{
      margin-top: -30%;
      text-align: center;
      display: flex;
      align-content: center;
      align-items: center;
    }
    #replay-button{
      width: 20%;
    }
    .heading-container{
      width: 100%;
      display: flex;
      justify-content: center;
    }

  }
